DATABASE_URL=postgresql+psycopg2://bank:bank@postgres:5432/bank_customers
APP_PORT=8003

KEYCLOAK_SERVER_URL=https://auth.dental-care.me
KEYCLOAK_INTERNAL_URL=http://172.17.0.1:8080
KEYCLOAK_REALM=bank
KEYCLOAK_ADMIN_CLIENT_ID=customer-service
KEYCLOAK_ADMIN_CLIENT_SECRET=change-me

KEYCLOAK_PUBLIC_CLIENT_ID=customer-app
KEYCLOAK_JWKS_URL=https://auth.dental-care.me/realms/bank/protocol/openid-connect/certs

CORS_ORIGINS=*
