DATABASE_URL=postgresql+psycopg2://bank:bank@postgres:5432/bank_users
APP_PORT=8002

KEYCLOAK_SERVER_URL=http://localhost:8080
KEYCLOAK_REALM=bank
KEYCLOAK_ADMIN_CLIENT_ID=bank-user-service
KEYCLOAK_ADMIN_CLIENT_SECRET=change-me

KEYCLOAK_PUBLIC_CLIENT_ID=bank-web
# KEYCLOAK_PUBLIC_CLIENT_SECRET=  # only if bank-web is confidential

KEYCLOAK_JWKS_URL=http://localhost:8080/realms/bank/protocol/openid-connect/certs
KEYCLOAK_AUDIENCE=bank-api
